@tailwind base;
@tailwind components;
@tailwind utilities;
button {
    /* border: 2px solid transparent; */
    transition: all 0.3s;
}
form button:hover {
    /* color: black;
    background-color: rgba(214, 109, 109, 0.178); */
    box-shadow: 6px 6px 0px 0px hsla(0, 85%, 78%, 0.856);
    transform: translateY(-5px);

    
}
input {
    /* outline: none; */
    user-select: none;
    transition: all 0.3s;
    /* pointer-events: none; */
    text-align: center;

}
input:focus {
    outline: none;
    border: 2px solid hsl(0, 100%, 84%);
    box-shadow: 0 0px 50px -25px hsla(0, 85%, 82%, 0.753);
}
input::placeholder {
    letter-spacing: 6px;
    text-align: center;
    font-size: 0.8rem;
}
